* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #011F3F;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
  margin: 5% 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90vw;
  height: 90vw;
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  gap: 10px;
  
}

.btn {
  border: 10px solid #fff;
  border-radius: 20%;
  transition: all 0.1s;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.pressed {
  transform: scale(0.95);
  box-shadow: 0 0 10px white;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

#start-btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #FEF2BF;
  color: #011F3F;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#start-btn:hover {
  background-color: #fff;
}

@media (max-width: 600px) {
  #level-title {
    font-size: 2rem;
  }
  #start-btn {
    font-size: 1rem;
  }
}